/*Estilos generales*/
html, body {
    height: 100%;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
  }

h1{
    font-size: 3rem;
    font-weight: bold;
}
h2{
    font-size: 5rem;
    font-weight: bold;
}
h3{
    font-size: 2.5rem;
    font-weight: bold;
}
h4{
    font-weight: bold;
    font-size: 2rem;
}
h5{
    font-size: 1.25rem;
}
h6{
    font-weight: 500;
    font-size: 1rem;
}

p{
    margin-bottom: 0rem;
}

.secondary-text{
    color: #707070;
}

.container-fluid, .row, .col, .col-lg-6{
    padding: 0;
    margin: 0;
} 

.responsive-img{
    max-height: 70vh;
    object-fit: cover;
}

.bg-azul{
    background-color: #34445f;
    color: #FFF;
}

.pagination {
    font-size: 2rem;
    justify-content: center;
}

.page-numbers{
    color: #34445f !important;
}

.current{
    color: black;
}

.nav-links a{
    text-decoration: underline !important;
}

#pre_header_menu{
    margin-bottom: 0 !important;
}

#pre_header_menu a{
    color: rgba(255,255,255,.55) !important;
    text-decoration: none;
    transition: 0.2s;
}
#pre_header_menu a:hover{
    transition: 0.2s;
    color: rgba(255,255,255,0.9) !important;
}

/*Home page*/
#front-page a{
    text-decoration: none ;
}

#front-page .fondo-oscuro{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 11px;
    bottom: 0;
    right: 11px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
#front-page .fondo-oscuro:hover{
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.recent-posts img{
    z-index: 2;
    height: 40vh;
    object-fit: cover;
}

.recent-posts h2{
    z-index: 5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    position: absolute;
    bottom: 0px;
    left: 30px;
    color: #FFF !important;
}

.recent-posts .category{
    z-index: 5;
    color: #FFF !important;
    background-color: #34445f;
    border-radius: 3px;
}

.recent-posts .date{
    z-index: 5;
    color: #FFF !important;
}

.recent-posts .d-flex{
    position: absolute;
    left: 30px;
    bottom: 50px;
}

/*Single post*/

.social-media{
    position: fixed;
    left: 0;
    top: 40%;
}

.s-item {
    display:block;
    width: 40px;
    height: 50px;
    color: grey;
    font-size: 25px;
    line-height: 60px;
    text-align: center;

    transition:all linear 0.2s ;
}

.facebook:hover{color: #305891;}
.twitter:hover{color: #3AAFD6;}
.gplus:hover{color: #0e76a8; }


#single-post {
    position: relative;
    overflow: hidden;
    object-fit: contain;
}

.btn-azul{
    background-color: #34445f;
    color: #FFF;
    font-weight: bold;
    transition: 0.2s;
    width: 100%;
}
.btn-azul:hover{
  background-color: #080F24;
  transition: 0.3s;
}

.form-comentarios label{
    font-weight: 700;
}

.comment-author-link{
    color: black;
    text-decoration: none;
}

.comment-reply-link{
    color: #707070;
    font-weight: bold;
    text-decoration: none;
}

.avatar{
    border-radius: 50%;
}

.autor{
    position: absolute;
    bottom: 30px;
    left: 70%;
    z-index: 5;
    color: #FFF;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.autor-name{
    white-space: nowrap;
    width: 90%;
}

#single-post .featured-img{
    height: 35vh;
    object-fit: cover;
}

#single-post #short-title{
    color: #FFF;
    position: absolute;
    font-size: 3rem;
    bottom: 10px;
    left: 100px;
    z-index: 5;
    width: 65%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#single-post .fondo-oscuro{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#single-post .d-flex{
    position: absolute;
    z-index: 5;
    left: 100px;
    bottom: 90px;
}

#single-post .category{
    z-index: 5;
    color: #FFF !important;
    background-color: #34445f;
    border-radius: 3px;
}

#single-post .date{
    z-index: 5;
    color: #FFF !important;
}


/*footer*/
footer span{
    font-size: 0.7rem;
}

.afiliaciones-icons, .copyright{
    font-size: 0.7rem;
}

/*Search page*/
#search-page .category{
    background-color: #34445f;
    border-radius: 4px;
    color: #FFF;
}

#search-page a{
    text-decoration: none;
    color: initial;
}

/*Boton de whatsapp*/
#whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:25px;
    right:30px;
    background-color:#080F24;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:45px;
    z-index:100;
    opacity: 0.7;
    transition: 0.3s;
  }

  #whatsapp:hover{
      background-color: #23ce63;
      opacity: 1;
      transition: 0.3s;
  }

  #whatsapp .fa-whatsapp {
    position: relative;
    vertical-align: top;
    top: 7px;
    left: 0;
    width: 100%;
  }

  

/*MEDIA QUERY*/
@media (min-width: 360px) and (max-width: 767px) {

    #single-post #short-title{
        font-size: 2rem;
        top: 60px;
        left: 20px;
        bottom: initial;
        z-index: 5;
        width: 99%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #single-post .d-flex{
        top: 20px;
        left: 20px;
        bottom: initial;
    }

    .autor{
        bottom: initial;
        top: 110px;
        left: 20px;
        max-width: 99%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
   
  }

@media (min-width: 768px) and (max-width: 992px) {

    #single-post #short-title{
        font-size: 2rem;
        bottom: 10px;
        left: 30px;
        width: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .autor{
        bottom: 30px;
        left: 55%;
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #single-post .d-flex{
        left: 30px;
        bottom: 70px;
    }
    
    
}

